.navbar-brand {
    font-weight: bold;
    font-size: 25px;
}


.navbar-brand-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-collapse {
    margin-left: 75px;
}

footer .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .logo img {
    width: 230px;
}

.navbar-brand-logo img {
    width: 230px;
}

.brands {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
}

.brands .ford,
.mg,
.hyundai {
    width: 380px;
}

.ford {
    margin-bottom: -40px;
}

.brands img {
    width: 100%;
    transition: scale 0.2s ease-in-out;
}

.brands img:hover {
    scale: 1.1;
}

footer {
    background-color: #1c1b1b;
    color: #fff;
    padding: 60px 0;
}

footer .container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.footer-links {
    color: #999;
}

.footer-links ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.footer-links ul li a {
    text-decoration: none;
    color: #999;
    font-size: 14px;
}

.footer-links ul li:last-child:before {
    content: "|";
    color: #5f5f5f;
    font-size: 12px;
    margin: 0 10px;
}

.footer-links p {
    font-size: 14px;
    font-weight: lighter;
    color: #5f5f5f;
}

.swiper {
    width: 100%;
    position: relative;
}


.swiper-slide img {
    width: 100%;
}

.swiper-pagination {
    left: -4px !important;
}

.swiper-pagination-bullet {
    background-color: #fff !important;
}

.swiper-button-prev,
.swiper-button-next {
    color: #fff !important;
}

.header {
    background-color: #e5edf6;
    padding: 60px 0;

}

.header h1 {
    text-align: center;
    font-size: 56px;
    line-height: 54px;
    font-weight: normal;
}

.about-content {
    padding: 80px 0;
}

.about-content h2 {
    margin: 30px 0 45px 0;
}

.location-item img {
    max-width: 100%;
}

.contact-content .location-item:first-child {
    margin: 50px 0;
}

.location-item {
    margin: 50px 0;
}

.contact-group {
    margin-bottom: 20px;
}

.contact-link {
    margin-left: 67px;
}

@media only screen and (max-width: 1024px) {
    .brands {
        gap: 50px;
    }

    .location-item {
        margin: 80px 0;
    }


    
}

@media only screen and (max-width: 991px) {
    .navbar-collapse {
        margin-left: 0;
    }
    
    .navbar-collapse ul {
        text-align: center;
    }

    .navbar-collapse ul li {
        padding: 15px 0;
    }
    

}

@media only screen and (max-width: 768px) {
    .header h1 {
        font-size: 27px;
    }

    .about-content {
        padding: 40px 0;
    }

    .header {
        padding: 40px 0;
    }

    .brands {
        padding: 50px 0;
    }
}

@media only screen and (max-width: 576px) {
    footer .container {
        flex-direction: column;
        gap: 50px;
    }

    .navbar-brand-logo img {
        width: 200px;
    }

    .ford {
        margin-bottom: -20px;
    }

    .brands .ford, .mg, .hyundai {
        width: 200px;
    }

    .swiper-button-next::after, .swiper-button-prev::after {
        font-size: 30px !important;
    }
   
}

